html, body{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #333;
  height: 100%;
  margin: 0;
}

.texts {
  background-image: url('https://wallpaper.dog/large/20455774.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #333;
  width: 100%;
  height: 100px;
  padding: 30px;
}

.App {
  position: relative;
}

.header {
  position: relative;
  width: calc(100%);
  text-align: center; 
}

.logoff-container {
  margin-left: auto;
}

.header h1 {
  color: white;
  padding: 0px;
  margin: 0px;
  position: absolute;
  left: 50%;
  top: 80px;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 4rem;
}

.fade-in {
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.header button {
  background-color: white;
  color: #333;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;      
}

.header button:hover {
  background-color: #f1f1f1;
}

.body {
  height: calc(100vh - 22vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(236, 236, 155);
}



.body input:focus {
  outline: none;
}

.body button {
  width: 300px;
  height: 50px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.body button:hover {
  background-color: #555;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.body .input-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.body input {
  height: 50px;
  width: 300px;
  border: none;
  border-top: solid 1px lightgrey;
  border-bottom: solid 1px lightgrey;
  border-radius: 0px;
  margin-right: 10px;
}

.upload-button {
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  width: 50px; 
  height: 50px; 
  display: flex;
  align-items: center; 
  justify-content: center;
}

.upload-button svg {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}

.upload-button:hover svg {
  transform: scale(1.1);
}

.upload-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}
